.jumbotron {
  padding-top: 8rem;
}

section {
  padding-top: 5rem;
}

.navbar {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-item .nav-link {
  margin-left: 20px;
}


/* hover navbar link */
.nav-link {
  position: relative;
  transition: color 0.3s ease;
}
.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin: auto;
  background: #000; 
  transition: width 0.3s ease, left 0.3s ease;
  bottom: 0;
  left: 50%;
}
.nav-link:hover::after {
  width: 100%;
  left: 0;
}

/* ketika di mobile tidak ada hover */
@media (max-width: 767px) {
  .nav-link:hover::after {
    width: 0;
    left: 50%;
  }
}

/* hover card */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}

.card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* animasi card ketika di viewport */
@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate {
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate.visible {
  animation: fadeInUp 0.6s forwards;
}

/* buat icon scroll ke atas */
.content {
  height: 2000px; 
  padding: 20px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: darkgray; 
  color: white; 
  border-radius: 20%;
  padding: 10px; 
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  opacity: 0; 
  transition: opacity 0.3s ease;
  z-index: 1000; 
}

.back-to-top.show {
  opacity: 1; 
}

.back-to-top:hover {
  background-color: lightgray; 
}

.bi-arrow-up-circle-fill {
  width: 24px;
  height: 24px;
}



